/* Font styles
-------------------------------------------------- */

@font-face {
  src: url(../fonts/Abel-Regular.ttf);
  font-family: 'Abel';
}
@font-face {
  src: url(../fonts/Eboy-EXTBeta.otf);
  font-family: 'Eboy';
}




/* Main styles
-------------------------------------------------- */

body {
  padding: 10px;
  font-family: 'Abel', Helvetica, Tahoma, sans-serif;
  font-size: 24px;
}

.wrapper {
  width: 90%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
  height: auto;
}

#sounds {
  display: none;
}



/* Add picture styles
-------------------------------------------------- */

#add-body {
  background-color: #0001C3;
  font-family: 'Abel', Helvetica, Tahoma, sans-serif;
  color: #FFF;
  padding-bottom: 30px;
}
#add-body .form-control {
  border: none;
  border-radius: 0;
}
#help {
  position: fixed;
  top: 5px;
  right: 0px;
  font-size: 30px;
  background-color: #DDD;
  border: solid 1px #AAA;
  border-radius: 5px 0px 0px 5px;
  padding: 5px 20px 5px 20px;
  margin-right: -2px;
}
form#add-picture label {
  display: block;
}
form#add-picture label.error {
  background-color: #F2DEDE;
  color: #A94442;
  border: 1px solid transparent;
  border-color: #EBCCD1;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 10px;
}

.modal-body {
  position: relative;
  overflow-y: auto;
  max-height: 400px;
  padding: 15px;
}



/* Show styles
-------------------------------------------------- */

#image-back {
  position: relative;
  width: 100%;
  height: 100%;
}
#image-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
form#update-pictures {
  display: none;
}

#picture-details {
  position: fixed;
  background-color: rgba(22, 58, 175, 0.85);
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  color: #FFF;
  padding: 20px 40px;
  z-index: 100;
}
#firstname {
  height: 20px;
  font-size: 16px;
  margin-bottom: 10px;
}



/* General styles
-------------------------------------------------- */

.shadow {
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 12px;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 12px;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 12px;
}

.hidden {
  display: none;
}
.margin-top {
  margin-top: 20px;
}
.margin-bottom {
  margin-bottom: 20px;
}

.full {
  width: 100%;
}

.clear {
  clear: both;
}